.card__description {
  margin: 25px 0 0 0;
  padding: 0;
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
}

@media screen and (max-width: 640px) {
  .card__description {
    margin-top: 15px;
  }
}