.card__title {
  margin: 20px 0 0 0;
  padding: 0;
  font-family: 'Fraunces', serif;
  font-size: 32px;
  line-height: 102%;
  color: #1d2124;
}

@media screen and (max-width: 640px) {
  .card__title {
    margin-top: 13px;
  }
}